.singleBook{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: rgb(158, 248, 213);
    box-shadow: 0 0 5px rgb(158, 248, 213);
    margin: 10px;
    padding: 10px;
    min-height: 150px;
    flex-basis: 20%;
    cursor: pointer;
}